*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --white: #FFF;
    --blue: #004AAD;
    --black: #1C1C1C;
    --gray: #d4d4d4;
}

body{
    background-color: var(--black);
}

body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-track {
    background: var(--black);
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(136, 136, 136);
    border-radius: 15px;
}

img{
    object-fit: cover;
}

body, input, textarea, select, button{
    font-family: 'Poppins', sans-serif;
    font: 400 1rem 'Poppins', sans-serif;
}