.container{
    margin: 0;
}

.footerContent{
    width: 100%;
    height: 8rem;
    border-top: 1px solid var(--gray);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.linkContent{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    a{
        display: inline-block;
        position: relative;
        margin: 0 0.5rem;
        color: var(--gray-100);
        transition: color 0.2s;
        text-decoration: none;
        color: var(--white);
        font-weight: bold;
        transition: color 0.2s;
        
        &:hover{
         color: var(--blue);
        
        }
    }
}

.socialContent{

    svg{
        margin: 0.5rem;
        width: 25px;
        height: 25px;

        &[data-color="red"]:hover{
            fill: red
        }
        &[data-color="blue"]:hover{
            fill: blue
        }
        &[data-color="green"]:hover{
            fill: green
        }

    }

}

@media (max-width: 1200px){
    .linkContent{
        a{
            font-size: .95rem;
    
        }
    }
    
    .socialContent{

        svg{
            width: 23px;
            height: 23px;
        }
    }
}

@media (max-width: 1024px){
    .linkContent{
        a{
            font-size: .8rem;
    
        }
    }

    .socialContent{

        svg{
            width: 20px;
            height: 20px;
        }
    }
}

@media (max-width: 768px){
    .linkContent{
        a{
            font-size: .7rem;
    
        }
    }

    .socialContent{

        svg{
            width: 18px;
            height: 18px;
        }
    }
}

@media (max-width: 600px){
    .linkContent{
        a{
            font-size: .65rem;
    
        }
    }

    .socialContent{

        svg{
            width: 16px;
            height: 16px;
        }
    }
}

@media (max-width: 370px){
    .linkContent{
        a{
            font-size: .5rem;
    
        }
    }

    .socialContent{

        svg{
            width: 14px;
            height: 14px;
        }
    }
}