
.footerContent{
    max-width: 100%;
    height: 7rem;
    border-top: 1px solid var(--gray);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    bottom: 0;
}

.linkContent{


    a{
        display: inline-block;
        position: relative;
        padding: 0 0.5rem;
        color: var(--gray-100);
        transition: color 0.2s;
        text-decoration: none;
        color: var(--white);
        font-weight: bold;
        transition: color 0.2s;
        
        &:hover{
         color: var(--blue);
        
        }
    }
}

.socialContent{

    svg{
        margin: 0.5rem;

        &[data-color="red"]:hover{
            fill: red
        }
        &[data-color="blue"]:hover{
            fill: blue
        }
        &[data-color="green"]:hover{
            fill: green
        }

    }

}

@media (max-width: 1064px){
    .linkContent{

        a{
            font-size: 0.9rem;
        }
    }
    .socialContent{
        svg{
            width: 22px;
            height: 22px;
        }
    }
}
@media (max-width: 930px){

    .footerContent{
        height: 6rem;

    }

    .linkContent{

        a{
            font-size: 0.8rem;
        }
    }
    .socialContent{
        svg{
            width: 20px;
            height: 20px;
        }
    }
}

@media (max-width: 780px){
    .footerContent{
        height: 5rem;

    }

    .linkContent{

        a{
            font-size: 0.8rem;
        }
    }
    .socialContent{
        svg{
            width: 20px;
            height: 20px;
        }
    }
}